name: Medium Clone Front-End CI/CD
on:
  workflow_dispatch:
    inputs:
      tests_path:
        description: "Tests path"
        required: false
        default: ""
      github_feedback_id:
        description: "Github feedback id"
        required: true

jobs:
  deploy:
    name: Deploy and run tests
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Action Status
        run: |
          curl -X 'POST' --location 'https://api-dev.mohirpool.uz/api/site/accelerators/code-reviews/github-workflows/' \
          --header 'X-API-KEY: ${{ secrets.X_API_KEY }}' \
          --form 'github_username=${{ github.actor }}' \
          --form 'github_action_run_id=${{ github.run_id }}' \
          --form 'action_status=started'

      - name: Clean Environment Status
        run: |
          curl -X 'POST' --location 'https://api-dev.mohirpool.uz/api/site/accelerators/code-reviews/github-workflows/' \
          --header 'X-API-KEY: ${{ secrets.X_API_KEY }}' \
          --form 'github_username=${{ github.actor }}' \
          --form 'github_action_run_id=${{ github.run_id }}' \
          --form 'clean_env_step=started'

      - name: Clean environment
        run: |
          rm -rf original-repo
          rm -rf forked-repo

      - name: Send a signal to the webhook that the job has started.
        run: |
          curl -X PUT --location 'https://api-dev.mohirpool.uz/api/site/accelerators/code-reviews/github-feedbacks/${{ github.event.inputs.github_feedback_id }}/' \
          --header 'X-API-KEY: ${{ secrets.X_API_KEY }}' \
          --form 'github_username=${{ github.actor }}' \
          --form 'action_run_id=${{ github.run_id }}' \
          --form 'status=started'

      - name: Checkout original repository
        uses: actions/checkout@v3
        with:
          repository: otabek-oktamov04/medium-initial
          path: original-repo
          ref: main
          fetch-depth: 0

      - name: Checkout forked repository
        uses: actions/checkout@v3
        with:
          path: forked-repo
          ref: main
          fetch-depth: 0

      - name: Move tests folder from original to forked
        run: |
          rm -rf forked-repo/tests
          mv original-repo/tests forked-repo/
          rm -rf original-repo

      - name: Installing Deps Status
        run: |
          curl -X 'POST' --location 'https://api-dev.mohirpool.uz/api/site/accelerators/code-reviews/github-workflows/' \
          --header 'X-API-KEY: ${{ secrets.X_API_KEY }}' \
          --form 'github_username=${{ github.actor }}' \
          --form 'github_action_run_id=${{ github.run_id }}' \
          --form 'install_dependencies_step=started'

      - name: Install dependencies
        working-directory: forked-repo
        run: npm ci

      - name: Cache Playwright Browsers
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: playwright-browsers-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            playwright-browsers-${{ runner.os }}-

      - name: Install Playwright Browsers
        working-directory: forked-repo
        run: npx playwright install --with-deps

      - name: Running Project Status
        run: |
          curl -X 'POST' --location 'https://api-dev.mohirpool.uz/api/site/accelerators/code-reviews/github-workflows/' \
          --header 'X-API-KEY: ${{ secrets.X_API_KEY }}' \
          --form 'github_username=${{ github.actor }}' \
          --form 'github_action_run_id=${{ github.run_id }}' \
          --form 'application_health_step=started'

      - name: Start the application
        working-directory: forked-repo
        run: |
          nohup npm run dev -- --port 5173 &  # Start the app in the background
          sleep 5  # Wait a few seconds for the app to start

      - name: Wait for localhost:5173 to be ready
        run: |
          until curl --silent --fail http://localhost:5173; do
            echo "Waiting for the app to start..."
            sleep 5
          done
          echo "App is up and running!"

      - name: Playwright Test Status
        run: |
          curl -X 'POST' --location 'https://api-dev.mohirpool.uz/api/site/accelerators/code-reviews/github-workflows/' \
          --header 'X-API-KEY: ${{ secrets.X_API_KEY }}' \
          --form 'github_username=${{ github.actor }}' \
          --form 'github_action_run_id=${{ github.run_id }}' \
          --form 'run_tests_step=started'

      - name: Run Playwright tests
        working-directory: forked-repo
        run: npx playwright test ${{ github.event.inputs.tests_path }} --workers=4
        continue-on-error: true

      - name: Verify Playwright Report
        working-directory: forked-repo
        run: ls -la playwright-report.json

      - name: Upload Playwright JSON report as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: forked-repo/playwright-report.json
          retention-days: 30

      - name: Finish Status
        if: always()
        run: |
          status=${{ job.status }}
          if [ "$status" == "success" ]; then
            status="completed"
          else
            status="failed"
          fi
          curl -X 'POST' --location 'https://api-dev.mohirpool.uz/api/site/accelerators/code-reviews/github-workflows/' \
          --header 'X-API-KEY: ${{ secrets.X_API_KEY }}' \
          --form 'github_username=${{ github.actor }}' \
          --form 'github_action_run_id=${{ github.run_id }}' \
          --form 'action_status=$status'

      - name: Send a signal to the webhook that the job has finished.
        if: always()
        run: |
          status=${{ job.status }}
          if [ "$status" == "success" ]; then
            status="completed"
          else
            status="failed"
          fi
          curl -X PUT --location 'https://api-dev.mohirpool.uz/api/site/accelerators/code-reviews/github-feedbacks/${{ github.event.inputs.github_feedback_id }}/' \
          --header 'X-API-KEY: ${{ secrets.X_API_KEY }}' \
          --form 'github_username=${{ github.actor }}' \
          --form 'action_run_id=${{ github.run_id }}' \
          --form "status=$status"
